@charset "UTF-8";


/*Loading*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}


/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}


/*history*/

/*loading*/
/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}



h1,ul,h2{
	font-family: 'Amatic SC', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Shadows Into Light', cursive;
}

body{
    word-break: break-all;
}

/* HEADER */

#header{
  position: relative;
  z-index:999;
  /*装飾のためのCSS*/
  background:#222;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
}


/*全体のエリア設定*/

.ms-section{
  color:#fff;
  padding:20px;
}

.ms-section a{
  color:#fff;
}

h1{
  font-size:2rem;
}

h2{
  font-size:2rem;
  margin:0 0 20px 0;
  text-align: center;
}

h3,h4{
	font-size:1.2rem;
	margin:0 0 20px 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Yomogi', cursive;
}

ul{
	font-size:1.3rem;
}

p{
  margin:0 0 20px 0;
  text-align:center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Homemade Apple', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Yomogi', cursive;
}

/*右にある丸ナビゲーション色*/

#multiscroll-nav span{
  background:transparent!important;
  border-color:#fff!important;
}

/*右にある丸のナビゲーション現在地色*/

#multiscroll-nav li .active span{
  background:#fff!important;
}

/*右上のナビゲーション*/

#menu li {
  display:inline-block;
  margin: 10px;
}

#menu li a{
  text-decoration:none;
  color: #fff;
  padding: 5px 10px;
  display:block;
  border-radius: 10px;
}

#menu li.active a{
  color: #666;
}


/*右エリア画像設定*/

#right1{
  background:url("../image/でぃずにー.jpg") no-repeat center;
  background-size:cover;
}

#right2{
  background:url("../image/父母.jpg") no-repeat center;
  background-size:cover;
}

#right3{
  background:url("../image/子供.jpg") no-repeat center;
  background-size:cover;
}

#right4{
  background:url("../image/高校.jpg") no-repeat center;
  background-size:cover;
}

#right5{
  background:url("../image/sotugyou.jpg") no-repeat center;
  background-size:cover;
}

#right6{
  background:url("../image/ゆき.jpg") no-repeat center;
  background-size:cover;
}


/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/

@media screen and (max-width:768px){

#header{
  justify-content: center;
}

/*全体のボックスについている余白をリセット*/
.ms-section{
  padding:0;
}

/*天地中央になっている見せ方を上ぞろえに上書き*/
.ms-tableCell{
  vertical-align:top;
}

/*右上ナビゲーションと右エリア非表示*/
#menu,
.ms-right{
  display: none;
}

/*左エリアを横幅100%にして画像＋テキストを出す設定*/
.ms-left{
  width:100%!important;
}

 /*左エリア上部画像設定*/
.sp-top{
  height:50%;
  margin:0 0 20px 0;
}

#left1 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/daniel-chen-546446-unsplash.jpg") no-repeat center;
  background-size:cover;
}

#left2 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/hisu-lee-169301-unsplash.jpg") no-repeat center;
  background-size:cover;
}

#left3 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/jeff-sheldon-3226-unsplash.jpg") no-repeat center;
  background-size:cover;
}

#left4 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/daniel-chen-546446-unsplash.jpg") no-repeat center;
  background-size:cover;
}

#left5 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/hisu-lee-169301-unsplash.jpg") no-repeat center;
  background-size:cover;
}

#left6 .sp-top{
  background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-3/img/hisu-lee-169301-unsplash.jpg") no-repeat center;
  background-size:cover;
}


/*左エリア下部テキスト余白設定*/
.sp-bottom{
  padding:20px;
}

}